*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, header{
    margin-top: 60px;
    background-color: var(--color-3);

}

header{
    display: flex;
    position: fixed;
    margin-top: -63px;
    background-color: var(--color-3);
    height: 58px;
    width: 100%;
    
}

header img{
    margin: 0.1rem 0 0 0;
    scale: 0.8;
}

header h1{
    font-size: 1.80rem;
    font-family: 'Dancing Script', cursive;
    margin: auto;
    margin-top: 0.5rem;
    display: block;   
}

nav ul{
    display: flex;
    justify-content: left;
    margin-top: 0.7rem;
    list-style: none;

    
}

nav ul li img{
    width: 1.52rem;
}

nav li{
    padding: 1.2px;

}

.hero{
    margin:0 .75rem 0 .75rem ;
}

.hero h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.info{
    margin: auto;
    margin: 0.4rem 0.7rem 1rem 0.7rem;
    text-align: center;
    border: 1.2px #14151a solid;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 0 0.3rem 2.3rem 0.3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

.info h3{
    font-family: 'Allura', cursive;
    font-size: 2rem ;
    margin: 1.2rem 0 0.1rem 0;


}

.info h2{
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0.5rem 0 1rem 0;

}

.pratos{
    display: grid;
    align-items: center;
}
.pratos article{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0.5rem 0.4rem 0 0.5rem;
    text-align: center;
    border: 1.2px #14151a solid;
    border-radius: 10px;
    width: 95%;
    padding: 0.3rem;
}

.pratos article h3{
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;
    margin: 0.2rem 0 1.2rem 0;
}

.pratos article img{
    width: 90%;
}

.cardapio h2{
    margin: 0 0 0 .5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;

}

.button{
    background-color: var(--cinza-bege);
    
    color: var(--black);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;

    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;

    
    justify-content: center;
    align-items: center;
    display: flex;

    width: 40%;
    height: 2rem;
    
}


.chefes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    


}


.chefes article{
    margin: auto;
    margin-bottom: 1rem;
    border: 1px solid rgb(0, 0, 0);
    display: block;
    flex-grow: 1;
    width: 95%;
    height: auto;
    
    
    
}

.chefes article h3{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.chefes img{
    width:100%;
    
    }

.elenco h2{
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
    font-size: 1.8rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.elenco{
    border: 2px solid black ;
    border-width: 0 0 1px 0;
    margin: 0.7rem 0.7rem 1rem 0.7rem;
}

footer h1{
    font-size: 1.80rem;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;

     
}


footer ul{
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    margin-bottom: 1rem;

}

footer a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #14151a;
}







:root{
    --cinza-claro: #ADA595;
    --cinza-bege: #a89576;
    --card:hsl(38, 28%, 69%);

    --color-3:#dacaac;
    --black:#14151a;

}
